* {
    background-color: #D6F6DD; /*green*/
    font-family: Varela Round;
}

h1, h2 {
    text-align: center;
}

div {
    padding: 0px 20%;
}

.intro, .intro h3, .intro h2, .intro h6, .intro p {
    background-color: #DAC4F7; /*purple*/
}

.reviews, .reviews h2, .reviews h4, .reviews p, .reviews strong, .reviews img {
    background-color: #F4989C; /*red*/
}

.tickets, .tickets h2, .tickets p {
    background-color: #EBD2B4; /*orange*/
}

.yahia {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.left {
    margin-left:25%;
}

.warning {
    color: red;
    text-align: center;
}

strong {
    color: #2755FF;
}

#title {
    margin-top: 50px;
    margin-bottom: 50px;
}