* {
    background-color: #D6F6DD; /*green*/
    font-family: Varela Round;
}

.intro, .intro * {
    background-color: #DAC4F7; /*purple*/
}

.tickets, .tickets * {
    background-color: #EBD2B4; /*orange*/
}

.reviews, .reviews * {
    background-color: #F4989C; /*red*/
}

.button {
    background-color: #ACECF7; /*light blue*/
    width: 150px;
    height: 50px;
    margin-left: 23%;
}

.yahia {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.warning, span {
    color: red;
    font-size: 200%;
}

.left, form {
    margin-left:25%;
}

.reviews strong {
    color: #2755FF; /*blue*/
}

div {
    padding: 0px 20%;
}

h1, h2, .warning, #pun {
    text-align: center;
}

#title {
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 70px;
}